*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Crimson Text", system-ui, serif;
  font-size: 2.4rem;
  color: #fff;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  background: url(img/background.png) no-repeat;
  background-size: 100%;
  border-radius: 1.5rem;
  padding: 3rem 6.05rem 3rem 7.1rem;
}

.slider {
  display: flex;
  flex-direction: column;
}

.active__slide {
  width: 38rem;
  overflow: hidden;
  margin-bottom: 4.1rem;
  align-self: center;
}

.slides {
  display: flex;
  width: 800%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.slider__item {
  border: 1.5px solid #000;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.img__wrapper {
  max-width: 35rem;
}

.slider__img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: block;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 55%;
  overflow: hidden;
}

.active__text {
  width: 100%;
  display: flex;
  align-items: center;  
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.description {
  width: 100%;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
}

.nav {
  display: flex;
  column-gap: 0.5rem;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__input[name="btn"]:checked + .nav__label .nav__btn {
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}

.nav__label {
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.nav__btn {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  background-color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.nav__input[name="btn"]:checked + .nav__label .nav__btn {
  background-color: #f1dcc8;
}

.nav__label:hover .nav__btn,
.nav__input[name="btn"] + .nav__label:hover .nav__btn {
  background-color: #fba03e;
  border-color: #fba03e;
}

.nav__label:active .nav__btn,
.nav__input[name="btn"] + .nav__label:active .nav__btn {
  background-color: #f1dcc8;
  border-color: #fba03e;
}

.nav__input[name="btn"] {
  visibility: hidden;
  display: none;
}

#pag1:checked ~ .active__slide .slides,
#pag1:checked ~ .controls .active__text {
  transform: translateX(0);
}

#pag2:checked ~ .active__slide .slides {
  transform: translateX(-12.5%);
}

#pag2:checked ~ .controls .active__text {
  transform: translateX(-100%);
}

#pag3:checked ~ .active__slide .slides {
  transform: translateX(-25%);
}

#pag3:checked ~ .controls .active__text {
  transform: translateX(-200%);
}

#pag4:checked ~ .active__slide .slides {
  transform: translateX(-37.5%);
}

#pag4:checked ~ .controls .active__text {
  transform: translateX(-300%);
}

#pag5:checked ~ .active__slide .slides {
  transform: translateX(-50%);
}

#pag5:checked ~ .controls .active__text {
  transform: translateX(-400%);
}

#pag6:checked ~ .active__slide .slides {
  transform: translateX(-62.5%);
}

#pag6:checked ~ .controls .active__text {
  transform: translateX(-500%);
}

#pag7:checked ~ .active__slide .slides {
  transform: translateX(-75%);
}

#pag7:checked ~ .controls .active__text {
  transform: translateX(-600%);
}

#pag8:checked ~ .active__slide .slides {
  transform: translateX(-87.5%);
}

#pag8:checked ~ .controls .active__text {
  transform: translateX(-700%);
}